/* about */
#portfolio {
    border-radius: 10px;
    max-width: 80%;
    object-fit: cover;
}

/* news */
#section-news ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#section-news ul:last-child {
    text-align: right;
}

.news-title, .news-date {
    margin: 0 0 0px 0;
}

.news-date {
    text-align: right;
}

/* project */
#project-container {
    align-items: flex-start;
}

.project {
    /* style */
    background-color: rgba(128, 128, 128, 0.15);
    border-radius: 10px;
    padding: 10px;
    /* size */
    max-width: 100%;
    margin: auto;
    margin-bottom: 20px;
    /* text */
    text-align: left;
}

@media only screen and (min-width: 768px) {
    .project {
        max-width: 80%;
    }
}

.project-link {
    font-weight: bold;
    color: rgb(100, 100, 100);
}

a.project-link:link, .project-link:visited {
    text-decoration: none;
    color: rgb(100, 100, 100);
}

a.project-link:hover {
    color: black;
}