/* about */
#portfolio {
    border-radius: 10px;
    max-width: 80%;
    object-fit: cover;
}

/* news */
#section-news ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#section-news ul:last-child {
    text-align: right;
}

.news-title, .news-date {
    margin: 0 0 0px 0;
}

.news-date {
    text-align: right;
}

/* news search bar */
.search input {
	width: 20%;
    margin: 0.5rem 0 0.5rem 0;
    font-size: 0.9rem;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid #a7a7a7;
    /* transition */
    transition: width 1s, background-color 1s;
    transition-timing-function: ease;
}

.search input:focus {
    width: 30%;
    outline: none;
    background-color: rgb(245, 245, 245);
}

/* TO DO: appearance of this button */
/* webkit cancel button */
::-webkit-search-cancel-button {
    -webkit-appearance: none;
    cursor: pointer;

    width: 12px;
    height: 12px;
    /* border-radius: 6px; */

    background-color: rgb(189, 189, 189);
}


/* project */
#project-container {
    align-items: flex-start;
}

.project {
    /* style */
    background-color: rgba(185, 185, 185, 0.15);
    border-radius: 10px;
    padding: 10px;
    /* size */
    max-width: 100%;
    margin: 20px 0 0 0;
    /* text */
    text-align: left;
}

@media only screen and (min-width: 768px) {
    .project {
        max-width: 95%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #left-column > .project {
        margin-left: 0;
    }

    #right-column > .project {
        margin-right: 0;
    }
}

.project-link {
    font-weight: bold;
    color: rgb(100, 100, 100);
}

a.project-link:link, .project-link:visited {
    text-decoration: none;
    color: rgb(100, 100, 100);
}

a.project-link:hover {
    color: black;
}

hr.project-dividor {
    margin: 0.3em;
}

input[type="checkbox"] {
    margin-bottom: 0;
}