/* global */
:root {
    --nav-top: 0px;
}

/* general style */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

p {
    color : black;
}

.container {
    max-width : 960px;
    margin : 0 auto;
}

.vertical-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Tags */
.tag {
    /* style */
    display: inline-block;
    text-align: center;
    padding: 1px 5px;
    margin-right: 10px;
    margin-bottom: 2px;
    border-radius: 5px;
    /* text */
    font-family: Arial, Helvetica, sans-serif;
}

.distributed-systems {
    background-color: tomato;
    color: white;
}

.machine-learning {
    background-color:rgb(131, 55, 255);
    color: white;
}

/* Responsive Grid System */
.row {
    display: flex;
    flex-wrap: wrap;
}

[class*="col-"] {
    flex-basis: 100%;
}

@media only screen and (min-width: 768px) {
    .col-1 {flex-basis: 8.33%;} 
    .col-2 {flex-basis: 16.66%;}
    .col-3 {flex-basis: 25%;}
    .col-4 {flex-basis: 33.33%;}
    .col-5 {flex-basis: 41.66%;}
    .col-6 {flex-basis: 50%;}
    .col-7 {flex-basis: 58.33%;}
    .col-8 {flex-basis: 66.66%;}
    .col-9 {flex-basis: 75%;}
    .col-10 {flex-basis: 83.33%;}
    .col-11 {flex-basis: 91.66%;}
    .col-12 {flex-basis: 100%;}
}

/* navigation bar */
nav {
    /* sticky position */
    position: sticky;
    top: var(--nav-top);

    /* style */
    background-color: white;
}

nav > ul {
    /* list style */
    list-style-type: none;

    /* flex box */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;

    padding: 0;
    min-height: 40px;
}

nav > ul > li {
    max-width: 80px;
    min-width: 100px;

    text-align: center;

    border-right: 1.5px solid gray;
}

/* nav > ul > li:first-child {
    border-left: 1.5px solid gray;
} */

nav > ul >li:last-child {
    border-right: none;
}

/* navigation links */
nav a:link, nav a:visited {
    text-decoration: none;
    color: rgb(14, 137, 238);
}

nav a:hover {
    text-decoration: underline;
    color: tomato;
}

/* nav a:active {
    text-decoration: underline;
    color: tomato;
    font-weight: bold;
} */

/* normal links */
.normal-link {
    font-family: Arial, Helvetica, sans-serif;
}

.normal-link:link, .normal-link:visited {
    text-decoration: none;
    color:rgb(14, 137, 238);
}

.normal-link:hover {
    text-decoration: underline;
    /* color: tomato; */
}

/* Animation */
/* .animate__animated.animate__bounce:hover {
    --animiate-duration: 2s;
} */